services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
      args:
        BUILD_ENV: development
    image: fastapi-template:latest
    container_name: fastapi-template
    ports:
      - "8000:8000"
    restart: unless-stopped
    tty: true
    stdin_open: true
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./src:/app/src:Z
      - ./tests:/app/tests:Z

  db:
    image: postgres:17
    restart: unless-stopped
    container_name: postgres-fastapi-template
    environment:
      - POSTGRES_DB=test
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  db-test:
    image: postgres:17
    restart: unless-stopped
    container_name: postgres-fastapi-template-test
    environment:
      - POSTGRES_DB=test
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5433:5432"

volumes:
  postgres_data:
